<div class="card">
  <div class="card-header">
  Lista de productos
  </div>
<div class="card-body">


  <div class="row ">
    <div class="col-mdm-2">
      filtra por:
    </div>
    <div class=" col-md-4">
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>Filtro:</h3>
    </div>
    <div class="table-responsive">
      <table class="table"*ngIf="productos.length">
        <thead>
          <tr>
            <th>Imagen</th>
            <th>Modelo</th>
            <th>Descripcion</th>
            <th>Ano</th>
            <th>Precio</th>
            <th>Marca</th>
            <th>Color</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let productos of productos">
            <td><img src="{{productos.ImagenURL}}"/></td>
            <td>{{productos.Modelo}}</td>
            <td>{{productos.Descripcion}}</td>
            <td>{{productos.Year}}</td>
            <td>{{productos.Precio}}</td>
            <td>{{productos.Marca}}</td>
            <td>{{productos.Color}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
